/* Color naranja claro para botones principales */
.btn-primary {
    background-color: #f1c583 !important;
    border-color: #FFA726 !important;
}

/* Color para pesta帽a activa */
.o_notebook .nav-tabs > li > a.active,
.o_notebook .nav-tabs > li > a.active:hover {
    background-color: #ecc993 !important;
    color: white !important;
    border-color: #FFA726 !important;
    font-weight: bold;
}

/* Crear factura (naranja) */
.btn.btn-primary.oe_highlight {
    background-color: #ffdda9 !important; /* Naranja claro */
    border-color: #FFA726 !important;
    color: white !important;
}

/* Enviar por correo (azul) */
.o_form_button_send {
    background-color: #ba90ff !important;
    border-color: #9849ff !important;
    color: white !important;
}

/* Vista previa (gris azulado) */
.o_form_button_preview {
    background-color: #a6dcf7 !important;
    border-color: #58c4fa !important;
    color: white !important;
}

/* Cancelar (rojo) */
.o_form_button_cancel {
    background-color: #ffaaa8 !important;
    border-color: #EF5350 !important;
    color: white !important;
}

/* .sirius-logo-module {
    background-image: url('/sirius_theme/static/src/img/logo_topbar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    width: 100px;
    height: 40px;
    margin-right: 15px;
} */

.sirius-global-logo {
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.sirius-global-logo img {
    max-height: 40px;
    object-fit: contain;
}

/*  Colores personalizados para badges de estado */
.badge.o_status {
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
    padding: 4px 12px;
}

/* Verde oscuro para "Orden de venta" */
.badge.o_status:has(span:contains("Orden de venta")) {
    background-color: #b1ffb5 !important;
    color: #fff;
}

/* Amarillo mostaza para "Cotizaci贸n" */
.badge.o_status:has(span:contains("Cotizaci贸n")) {
    background-color: #fadba9 !important;
    color: #fff;
}

/* P煤rpura para "Cotizaci贸n enviada" */
.badge.o_status:has(span:contains("Cotizaci贸n enviada")) {
    background-color: #e0afff !important;
    color: #fff;
}

/* Л Barra de encabezado de lista */
.o_list_view thead > tr {
    background-color: #b4e1ff;
    border-bottom: 2px solid #cfd8dc;
}

/*  Estilo personalizado para filas de tabla */
.o_list_view tbody > tr {
    background-color: #ffbfbf;
    transition: all 0.15s ease-in-out;
    border-bottom: 1px solid #e0e0e0;
}

.o_list_view tbody > tr:hover {
    background-color: #b6fcea;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
