/* Color naranja claro para botones principales */
.btn-primary {
    background-color: #f8dfba !important;
    border-color: #FFA726 !important;
}

/* Color para pestaña activa */
.o_notebook .nav-tabs > li > a.active,
.o_notebook .nav-tabs > li > a.active:hover {
    background-color: #ffc9c9 !important;
    color: white !important;
    border-color: #ff4726 !important;
    font-weight: bold;
}

/* Crear factura (naranja) */
.btn.btn-primary.oe_highlight {
    background-color: #ffdda9 !important; /* Naranja claro */
    border-color: #FFA726 !important;
    color: white !important;
}

/* Enviar por correo (azul) */
.o_form_button_send {
    background-color: #ba90ff !important;
    border-color: #9849ff !important;
    color: white !important;
}

/* Vista previa (gris azulado) */
.o_form_button_preview {
    background-color: #a6dcf7 !important;
    border-color: #58c4fa !important;
    color: white !important;
}

/* Cancelar (rojo) */
.o_form_button_cancel {
    background-color: #ffaaa8 !important;
    border-color: #EF5350 !important;
    color: white !important;
}

/* .sirius-logo-module {
    background-image: url('/sirius_theme/static/src/img/logo_topbar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    width: 100px;
    height: 40px;
    margin-right: 15px;
} */

.sirius-global-logo {
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.sirius-global-logo img {
    max-height: 40px;
    object-fit: contain;
}

.badge.o_status {
    font-weight: bold;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 8px;
}

/* Colores personalizados por estado */
.badge.o_status:contains("Orden de venta") {
    background-color: #00897B !important;  /* verde turquesa */
    color: white;
}

.badge.o_status:contains("Cotización") {
    background-color: #F9A825 !important;  /* amarillo mostaza */
    color: white;
}

.badge.o_status:contains("Cotización enviada") {
    background-color: #6A1B9A !important;  /* púrpura */
    color: white;
}


.o_main_navbar {
    background-color: #263238 !important;  /* gris oscuro tipo slate */
    color: white !important;
}

.o_main_navbar .o_menu_brand {
    color: #FFA726 !important; /* naranja claro para el texto del nombre del módulo */
}


.o_list_view table.table {
    border-collapse: separate;
    border-spacing: 0 6px;
}

.o_list_view tbody > tr {
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    transition: all 0.2s ease-in-out;
}

.o_list_view tbody > tr:hover {
    background-color: #f1f8ff;
}
